
<div class="container-footer">
    <div class="first-part">
        <img src="./assets/img/logo.png" class="logo">
        <a href="" class="imprint" href="/">Impressum</a>
    </div>

    <span class="copyright">© Alexandre Vermeersch 2022</span>

    <div class="container-social-media">
    
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/AlexVerm12"
        >
          <img src="./assets/img/logo-git.png" />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="mailto:vermeerscha@yahoo.de"
        >
          <img src="./assets/img/logo-mail.png" />
        </a>
    
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/alexandre-vermeersch-b03b57140"
        >
          <img src="./assets/img/logo-linkedin.png" />
        </a>
      </div>
</div>
