<div id="about-me" class="container-aboutme">
  <div class="container-text">
    <h2>About me</h2>
    <span>
      I am a German-speaking Web Developer from Salzburg with experience in
      building web apps using JavaScript & Angular. You are welcome to visit my
      public portfolio, which includes responsive websites, business apps and
      games.
    </span>
    <div>
      <img src="./assets/img/light.png" alt="" />
      <span>
        I started my path to becoming a developer with an app where I wrote my
        first lines of code and quickly realized how much fun I had with it. In
        order to deepen my skills and start a professional path as a developer,
        I decided to train as a frontend developer at the Developer Academy.
      </span>
    </div>

    <div>
      <img src="./assets/img/puzzle.png" alt="" />
      <span>
        There I was able to quickly deepen my knowledge in several individual
        and group projects. I received regular feedback from the coaches on my
        projects and my code. As a junior frontend developer, I am now looking
        forward to using what I have learned in your team, constantly improving
        it and growing with new challenges.
      </span>
    </div>
  </div>

    <div class="container-foto">
        <div class="foto"></div>
        <div class="blue-line"></div>
    </div>
</div>
