<div id="about-me" class="container-aboutme">
  <div class="container-text">
    <h2>About me</h2>
    <span>
      I am a German-speaking Web Developer from Salzburg with experience in
      building web apps using JavaScript & Angular. You are welcome to visit my
      public portfolio, which includes responsive websites, business apps and
      games.
    </span>
    <div>
      <img src="./assets/img/light.png" alt="" />
      <span>
        I started my path to becoming a developer with an app where I wrote my
        first lines of code and quickly realized how much fun I had with it. In
        order to strengthen my skills and start a professional career as a
        frontend developer I joined the developer academy in 2022.
      </span>
    </div>

    <div>
      <img src="./assets/img/puzzle.png" alt="" />
      <span>
        There I was able to quickly enhance my knowledge in several individual
        and group projects. I received regular feedback from the coaches on my
        projects and my code. During the past year as a digital project manager
        I already gained experience in creating responsive landing pages for
        larg companies. With Zapier I programmed various interfaces for more
        automated workflows.
      </span>
    </div>
  </div>

  <div class="container-foto">
    <div class="foto"></div>
    <div class="blue-line"></div>
  </div>
</div>
