<div id="hero" class="hero-container">
  <img class="photo-shadow" src="./assets/img/photo-shadow.png" alt="" />
  <img class="photo" src="./assets/img/profil1.png" alt="" />
  <img class="shape" src="./assets/img/shape-hero.png" alt="" />
  <div class="container-header">
    <div class="header-text">
      <span>I am</span>

      <div>
        <h1>Alex Vermeersch</h1>
        <h3>FRONTEND DEVELOPER</h3>
      </div>
    </div>
    <a href="#contact" class="main-button">Let ´s talk!</a>
  </div>
  <div class="scroll-down">
    <span>Scroll down</span>
    <img src="./assets/img/arrow-white-down.png" alt="" />
  </div>

  <div class="container-social-media">
    <div class="blue-line"></div>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/AlexVerm12"
    >
      <img src="./assets/img/logo-git.png" />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:vermeerscha@yahoo.de"
    >
      <img src="./assets/img/logo-mail.png" />
    </a>

    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/alexandre-vermeersch-b03b57140"
    >
      <img src="./assets/img/logo-linkedin.png" />
    </a>
  </div>
</div>
