<div id="header" class="header-container">
  <img routerLink="" src="./assets/img/logo.png" class="logo" />
  <div class="menu">
    <div class="menu-point d-none-mobile">
      <a href="#about-me">About me</a>
      <div class="underliner"></div>
    </div>
    <div class="d-none-mobile">
      <a href="#skills">Skills</a>
      <div class="underliner"></div>
    </div>
    <div class="d-none-mobile">
      <a href="#portfolio">Portfolio</a>
      <div class="underliner"></div>
    </div>

    <img class="burger-menu d-none show-mobile" src="./assets/img/burger.png" />
  </div>

  <div class="menu-popup">
    <div class="menu-point">
      <a href="#about-me">About me</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#skills">Skills</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#portfolio">Portfolio</a>
      <div class="underliner"></div>
    </div>
    <div class="">
      <a href="#contact">Contact</a>
      <div class="underliner"></div>
    </div>
  </div>
</div>
