.header-container{
    height: 90px;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;


    a{
        color: white;
        text-decoration: none;
        font-size: 23px;
        padding-bottom: 5px;
        font-weight: 400;
        cursor: pointer;

        &:hover{
            color: #00BEE8;
        }

        &:focus{
            border-bottom: solid 4px;
            border-color: #4B47FF;
        }

    }


}

.burger-menu{
    cursor: pointer;

    &:hover{
        scale: 1.1;
    }
}

.menu-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;

    a{
        color: white;
    }
}

@media(max-width:1050px){
    .header-container{
        padding: 0px 37px;
    }

    .menu{
        gap:0px;
    }
}