body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.main-button {
  color: white;
  font-size: 23px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  background: #00bee8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;

  &:hover{
    background-color: #4B47FF;
    padding: 20px 40px;
  }
}

.logo{
width: 90px;
cursor: pointer;
}
